<html>
	<head>
		<title> Fuck Haman </title>
		<link rel="stylesheet" type="text/css" media="all" href="static/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="static/text.css" />
		<link rel="stylesheet" type="text/css" media="all" href="static/960.css" />

		<style>
			.border {border-bottom:solid 2px;}
			.heading-font {font-size:large; color:#660099;}
			body {background: #F8F8F8 ;}
		</style>
	</head>

	<body>

		<div class='container_12'>
			<div class='grid_12' style="font-size:xx-large; font-weight:bold; text-align:center; color: #660099;">Premier Purim Party 2013</div>
			<div class='clear'></div>
			<div class='grid_12' style="text-align:center; color: #660099; font-size:large;">One great Purim Party can change the world...</div>
			<div class='clear'></div>
			<br>
			<div class='grid_12 border'></div>
			<div class='clear'></div>
			<br>
			<div class='grid_3 heading-font'>Story of Purim: </div> 
			<div class='grid_3 heading-font'>Party Details: </div> 
			<div class='grid_3 heading-font'>Actual Quotes:</div> 
			<div class='grid_3 heading-font'>No such thing as a free Purim Party:</div> 
			<div class='clear'></div>		
			<br>
			<div class='grid_3'>
				Purim is a Jewish holiday that commemorates the deliverance of the Jewish people in the ancient Persian Empire from destruction in the wake of a plot by Haman.
				<br><br> 
				Haman planned to kill all the Jews in the empire, but his plans were foiled by Mordecai and his adopted daughter Queen Esther. The day of deliverance became a day of feasting and rejoicing. 
				<br><br> 
				Purim is celebrated by giving mutual gifts of food and drink ... drinking wine, wearing of masks and costumes, and public celebration 
				<br><br> 
				One should drink on Purim until he can "no longer distinguish between the phrases arur Haman ('Cursed is Haman') and baruch Mordechai ('Blessed is Mordecai'). <br><br> 
				Other authorities have written that one should drink until one is unable to calculate the gematria (numerical values).
			</div> 
			<div class='grid_3'>
				<b>When:</b> Saturday, Feb 23rd 
				<br><br> 
				<b>Where:</b> <a href="http://newyork.spingalactic.com/index.php">Spin NYC (48 east 23rd St)</a> 
				<br><br> 
				<b>Why:</b> Because one great Purim Party can change the world (see above) 
				<br><br>
				<b>Features:</b> 
				<br><br> 
				-Incredible music in spatious, if not colorful, party room with inviting dance floor next to cozy couches.
				<br><br>
				-Bar Mitzvah style dance party and general attitude. 
				<br><br> 
				-Hamentashen galore and Manischewitz til you drop  
				<br><br> 
				-Complimentary goodie bags upon entry with mystery items inside 
			</div> 
			<div class='grid_3'>
				"This actually sounds fun" 
				<br><br> 
				"This seems good" 
				<br><br> 
				"I hope there are lots of hot single jewish guys there"
			</div>
			<div class='grid_3'>
				This extravaganza, while stunningly immaculate and overly tasteful, is not free of cost.  To make this Purim bash happen, we are asking for a donation of 20 dollars or more from each lad or lady in attendance. 
				<br><br> 
				Don't think of it as a "cover."  Think of it as a cheap price for an unforgettable Purim festival with friends. 
				<br><br> 
				Donating more than 40 dollars will give you VIP access (details to follow). 
				<br><br> 
				Click here to reserve your ticket! <a href="http://www.eventbrite.com/mytickets/"> Event Tickets</a>
			</div> 
			<div class='clear'></div>
			<br><br>			
		</div>
	</body>
</html>